/* Dashboard Container */
.dashboard {
  display: flex;
  background-color: #f0f0f0; /* Light gray background color */
}

/* Sidebar */
.sidebar {
  width: 200px; /* Sidebar width */
  background-color: #333;
  color: #502497;
  padding: 20px;
  position: fixed; /* Fixed position for the sidebar */
  top: 0; /* Align to the top of the viewport */
  bottom: 0; /* Extend to the bottom of the viewport */
  overflow-y: auto;
}

/* Sidebar Navigation */
.sidebar-nav {
  list-style: none;
  padding: 0;
}

.sidebar-nav li {
  margin-bottom: 15px;
}

.sidebar-nav button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  width: 100%;
  padding: 12px;
  transition: background-color 0.3s;
}

/* Style active button */
.sidebar-nav button.active {
  background-color: #0f0c0c;
  border-radius: 4px;
}

/* Hover effect for sidebar buttons */
.sidebar-nav button:hover {
  background-color: #555;
}

/* User Name */
.user_name {
  color: rgb(211, 190, 190);
  font-size: 20px;
  margin-bottom: 15px;
}

/* Main Content */
.main-content {
  flex: 1;
  margin-left: 250px; /* Adjust for the sidebar width */
  padding: 20px;
  background-color: #b9d4d4; /* White background for the main content */
}

/* Welcome Text */
.welcome-text {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #f8f5f5;
  margin-top: 20px;
}

/* Sub Text */
.sub-text {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}

/* Image Rows */
.image-row {
  display: flex;
  justify-content: center; /* Center-align the images */
  align-items: center; /* Center-align vertically */
  flex-wrap: wrap;
  margin-top: 30px;
}

/* Dashboard Images */
.dashboard-image {
  width: 300px; /* Adjust the image width */
  height: auto;
  max-height: 300px; /* Set the maximum image height */
  margin: 10px; /* Add spacing between images */
}
